[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

apistar = ">=0.5"
SQLAlchemy = "*"


[dev-packages]

apistar = ">=0.5"
clinner = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
prospector = "*"
SQLAlchemy = "*"
tox = "*"


[requires]

python_version = "3.6"
